@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
:root{
  --primary-color: #007f5f;
  --secundary-color: #FFFFFF;
  --terciary-color: #fde047;
  --quaternary-color: #dad7cd;
  --text-color:#000000;
  --background: #f2e9e4;
  --font-primary: 'Raleway', sans-serif;
}